.pop-header {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

@media screen and (min-width: 64em) {
    .pop-header {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    }
}

.pop-header .pop-header-info {
    background-color: #193806;
}

.pop-header .pop-header-info .main-container {
    position: relative;
    height: 4rem
}
@media print,
screen and (min-width: 30em) {
    .pop-header .pop-header-info .main-container {
        height: 5rem
    }
}

.pop-header .top-bar {
    padding: 0
}
.pop-header .top-bar .title-bar-left {
    margin-left: -1rem
}
.pop-header .top-bar .dropdown.menu>li.is-dropdown-submenu-parent>a {
    font-weight: 500
}
.pop-header .top-bar .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    right: 7px
}

.pop-header .pop-header-info .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #8bb3df transparent transparent;
    right: 7px
}
.pop-header .pop-header-info .is-dropdown-submenu {
    border-color: #d0d3d7;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}
.pop-header .pop-header-info .is-dropdown-submenu-item a {
    padding: .5rem 1rem
}
.pop-header .pop-header-info .is-dropdown-submenu-item:hover {
    background-color: #f2f4f8
}
.pop-header .pop-header-info .is-dropdown-submenu-item:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.pop-header .pop-header-info .is-dropdown-submenu-item:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.pop-header .tagline-text {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: freight-text-pro,Georgia,Times,"Times New Roman",serif;
    font-size: .9375rem;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    border-left: 1px solid rgba(255,255,255,.18);
    padding-left: 1.3125rem;
    opacity: .9;
}

@media screen and (min-width: 64em) {
    .pop-header .tagline-text {
        left: 21.5625rem
    }
}
@media screen and (min-width: 85.25em) {
    .pop-header .tagline-text {
        left: 22.3125rem
    }
}
@media(max-width:67.1875em) {
    .pop-header .tagline-text {
        display: none
    }
}
.pop-header .nav-service-links {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3.625rem;
    width: auto;
}
.pop-header .nav-service-links>li>a {
    color: #fff
}
.pop-header .nav-service-links>li>a:focus,
.pop-header .nav-service-links>li>a:hover {
    opacity: .75
}
@media(max-width:70em) {
    .pop-header .nav-service-links>li>a {
        padding-left: .75rem;
        padding-right: .75rem
    }
}
@media print,
screen and (min-width: 30em) {
    .pop-header .nav-service-links {
        right: 4.125rem
    }
}
@media screen and (min-width: 64em) {
    .pop-header .nav-service-links {
        right: 4.375rem
    }
}
@media screen and (min-width: 85.25em) {
    .pop-header .nav-service-links {
        right: 5.125rem
    }
}

.main-container,
.pop-container-nav {
    max-width: 1364px;
    margin: 0 auto
}
.main-container::after,
.main-container::before,
.pop-container-nav::after,
.pop-container-nav::before {
    display: table;
    content: ' '
}
.main-container::after,
.pop-container-nav::after {
    clear: both
}
.main-container>.row,
.pop-container-nav>.row {
    margin-left: -.25rem;
    margin-right: -.25rem
}
@media screen and (min-width: 64em) {
    .main-container>.row,
    .pop-container-nav>.row {
        margin-left: -.375rem;
        margin-right: -.375rem
    }
}
@media screen and (min-width: 85.25em) {
    .main-container>.row,
    .pop-container-nav>.row {
        margin-left: -.625rem;
        margin-right: -.625rem
    }
}
.pop-container-nav {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem
}
@media print,
screen and (min-width: 30em) {
    .pop-container-nav {
        padding-left: 1rem;
        padding-right: 1rem
    }
}
@media screen and (min-width: 64em) {
    .pop-container-nav {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }
}
@media screen and (min-width: 85.25em) {
    .pop-container-nav {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

.top-bar,
.top-bar ul {
    background-color: #edf0f4
}

.main-container .main-container {
    padding-left: 0;
    padding-right: 0
}

.row {
    max-width: 85.25rem;
    margin-right: auto;
    margin-left: auto
}
.row::after,
.row::before {
    display: table;
    content: ' '
}
.row::after {
    clear: both
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right;
}

.large-6 {
    width: 50%;
    flex: 0 0 45%;
}

//new css


.xlarge-offset-1 {
      margin-left: 8.3333333333%
  }

.xlarge-5 {
    width: 41.6666666667%
}
.pdp-details::after,
.pdp-details::before {
    display: table;
    content: ' '
}
.pdp-details::after {
    clear: both
}
.pdp-details>:last-child {
    margin-bottom: 0
}
.pdp-details p {
    margin-top: 0;
    font-size: .875rem
}

@media screen and (min-width: 64em){
.pdp-product-image-wrap {
    margin-top: .5rem;
    padding: .5rem;
    border: 1px solid #dde1e5;
}
}

.pdp-product-image-wrap {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-radius: 3px;
    background-color: #fff;
    color: #1a2029;
    padding: .25rem;
    border: 0;
    margin-bottom: 1rem;
    margin-top: .25rem;
    border: 1px solid #dde1e5!important;
}

@media print,
screen and (min-width: 48em){
.pdp-product-image-wrap .pdp__product-image {
    max-width: 29.6875rem;
}
}

.pdp-product-image-wrap .pdp__product-image {
    max-width: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.h3{
  font-size: 1.375rem;
}

.pdp-product-options {
    padding: 2rem;
    padding-top: 0
}
.pdp-product-options>:last-child {
    margin-bottom: 0
}

.config-input-group {
    padding: 1rem
}

.form-group {
    margin-bottom: 1rem
}
.form-group .help-text {
    line-height: 1;
    margin-top: .5rem
}
.form-group .help-text input[type=checkbox] {
    margin-bottom: 0
}
.form-group .help-text input[type=checkbox]+label {
    line-height: 1
}
.form-group .form-error {
    margin-top: .5rem;
    margin-bottom: 0
}
.form-group .input-group,
.form-group button,
.form-group input,
.form-group select,
.form-group textarea {
    margin-bottom: 0
}

label.required {
    font-weight: 700;
}

.callout.callout-config-container {
    background-color: #f4f5f6;
    color: #1a2029;
    background: #f1f3f5;
    padding: .5rem .25rem;
    margin-bottom: 1rem;
    margin-top: .25rem;
    text-align: center
}
@media print,
screen and (min-width: 48em) {
    .callout.callout-config-container {
        padding: 1rem
    }
}
@media screen and (max-width: 47.9375em) {
    .callout.callout-config-container {
        padding: 0;
        background-color: transparent;
        border: 0
    }
}
@media screen and (min-width: 64em) {
    .callout.callout-config-container {
        margin-top: .5rem
    }
}

.configurator__app {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .13);
    position: relative;
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto
}
@media screen and (max-width: 47.9375em) {
    .configurator__app {
        box-shadow: none
    }
}
